<main class="site-main">
  <div class="site-content">
    <div class="row">
      <div class="col-lg-9 col-sm-9 col-md-9">
        <div class="card">
          <header class="card-header d-flex justify-content-between">
            <h6 class="card-heading">Carte Cameroun</h6>
            <div class="col-md-8 ml-auto">
              <div class="input-group">
                <select class="custom-select" id="cqlAttribut">
                  <option selected disabled value="">Attribut...</option>                  
                </select>
                <select class="custom-select" id="cqlOperateur">
                  <option selected disabled value="">Operateur...</option>                                    
                </select>
                <input type="text" class="form-control" id="cqlValue" aria-label="valeur" placeholder="valeur">
                <div class="input-group-append">
                  <button class="btn btn-outline-dark" id="filter" type="button">Filtrer</button>
                  <button class="btn btn-outline-dark" id="reset" type="button">Reset</button>
                </div>
              </div>
            </div>
          </header>
          <div>
            <div id="vmap-world1"></div>
            <div id="info">&nbsp;</div>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
      <div class="col-lg-3 col-sm-3 col-md-3 h-100">
        <div class="card">
          <header class="card-header">Gestion des couches</header>
          <div class="card-body">
            <div id='layercard'>
              <header>
                <h6 class="text-primary text-center"> Liste des couches</h6>
              </header>
              <ul class="list-group-flush list-group" id="layerList"></ul>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-8 m-auto">
                <button class="btn btn-outline-dark btn-block" data-target="#addlayer" data-toggle="modal">
                  Ajouter Couche
                </button>
              </div>
            </div>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div>
</main><!-- /.site-main -->